name: Qodana CI Pipeline

# trigger 
on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

# job
jobs:
  upload-qodana-config:
    # first job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run Qodana Configuration Uploader
        env:
          QODANA_CONFIGURATIONS_TOKEN: ${{ secrets.QODANA_CONFIGURATIONS_TOKEN }}
          QODANA_ENDPOINT: 'https://qodana.cloud'
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace \
            -e QODANA_CONFIGURATIONS_TOKEN=${QODANA_CONFIGURATIONS_TOKEN} \
            jetbrains/qodana-configuration-uploader:latest \
            --global-configs-file qodana-global-configurations.yaml

  # second job
  qodana-scan:
    needs: upload-qodana-config
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Qodana Scan
        uses: JetBrains/qodana-action@v2024.1
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
        with:
          args: --linter,jetbrains/qodana-python:latest